<h1>Category: <%= @category.name %></h1>

<div>
    <%= link_to("Edit category", edit_category_path(@category)) %><br><br>

    <%= link_to "delete", @category, method: :delete,
                                    data: { confirm: "Are you sure?" } %>
</div>

<div class="products-container">
    <% @category.products.each do |p| %>
        <div class="product-square">
            <h4><%= link_to("#{p.name}", product_path(p)) %></h4>
            <span><%=p.category.name.upcase%></span>

            <p><%= "#{number_to_currency(p.price)}" %></p>
            <img class="product-image" src="<%=p.image_link%>"><br>
        </div>
    <% end %>
</div>