<!-- Form for creating a new Wishlist -->
<%= form_for([user, wishlist]) do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :budget %>
  <%= f.number_field :budget, value: number_to_currency(f.object.budget.to_f, delimiter: '', unit: ''), step: :any %><br>

  <%= f.label :notes %><br>
  <%= f.text_area :notes, "cols" => 40, "rows" => 10 %><br>
</p>

  <%= f.submit %>
<% end %>

<!-- New wishlist container to render wishlist's information -->
<div id="new-wishlist">
  <h2 id="wishlist-name"></h2>
  <p id="wishlist-budget"></p>
  <p id="wishlist-notes"></p>
</div>