<!-- Wishlist square -->
<div class="wishlist-info">
    <h1>Wishlist: <%= @wishlist.name%></h1>

    <p>Created on: <%= @wishlist.date_created%></p>
    <p>Budget: <%= number_to_currency(@wishlist.budget)%></p>
    <p>Notes: <%= @wishlist.notes%></p>

    <% if display_edit_delete_link %>
    <%= link_to("Edit wishlist", edit_user_wishlist_path(@user, @wishlist)) %><br><br>

    <%= link_to "delete", [@user, @wishlist], method: :delete,
                                    data: { confirm: "Are you sure?" } %>
    <%end%>
</div>

<!-- Button to Show Products using AJAX GET request-->
<button class="js-more" data-uid="<%= @user.id %>" data-wid="<%= @wishlist.id %>">Show Products</button>

<!-- Container to render product information  -->
<div id="products-container">
</div>

<!--
    <% @wishlist.products.each do |p| %>
        <div class="product-square">
            <h4><%= link_to("#{p.name}", product_path(p)) %></h4>
            <span><%=p.category.name.upcase%></span>

            <p><%= "#{number_to_currency(p.price)}" %></p>
            <img class="product-image" src="<%=p.image_link%>"><br>
        </div>
    <% end %>
-->

<!-- JS script for Show Products button -->
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    const userId = $(this).data("uid");
    const wishlistId = $(this).data("wid");
    $.get("/users/" + userId + "/wishlists/"+ wishlistId + ".json", function(data) {
        let string = data.products.map(p => {
            return `
                <div class="product-square">
                    <h4>${p.name}</h4>
                    <p>$ ${(p.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')}</p>
                    <img class="product-image" src="${p.image_link}"><br>
                </div>`
        }).join(' ');
        $("#products-container").html(string);
    });
  });
});
</script>