<!-- Pagination menu -->
<div class="paginate">
    <%= page_entries_info @products %><br><br>
    <%= paginate @products, window: 2 %><br>
</div>

<!-- A drop down list for sorting - by price, name, free shipping -->
<div class="sort-filter">
    <%= form_tag(products_url, {:method => 'get'}) do |f| %>
        <select name="sort_by" id="sort_by">
            <!-- Sort By -->
            <option <%= !@sort_param ? "selected" : "" %>>SORT BY</option>

            <option value="name" <%= "name" === @sort_param ? "selected" : "" %>>Name</option>
            <option value="price" <%= "price" === @sort_param ? "selected" : "" %>>Price</option>
            <option value="freeship" <%= "freeship" === @sort_param ? "selected" : "" %>>Free Shipping</option>
        </select>

        <%= submit_tag('Update', :name => nil) %>
    <% end %>
</div>

<!-- A dropdown list of current_user's wishlist 
A submit button that will pass the selected Wishlist_id into URL query params -->

<div class="select-wishlist">
    <h3>Choose your wishlist</h3>
    <%= form_tag(products_url, {:method => 'get'}) do |f| %>
        <select name="wishlist_id" id="wishlist_id">

            <!-- Select a Wishlist -->
            <option value="" <%= !@wishlist ? "selected" : "" %>>SELECT A WISHLIST</option>

            <% @user_wishlists.each do |w| %>
                <option value="<%=w.id %>" <%= "#{w.id}" === @wishlist ? "selected" : "" %>><%=w.name%></option>
            <% end %>
        </select>

        <%= submit_tag('Update', :name => nil) %>
    <% end %>
</div>

<!-- Product squares -->

<% products.each do |p|%>
    <div class="product-square">
        <!-- If user has selected a wishlist, show Add/ Remove button -->
        <% if @wishlist%>
        
            <%= form_tag(toggle_wishlist_product_url(@user, @wishlist), remote: true) do |f| %>
                <%= hidden_field_tag :wishlist_id, @wishlist.id %>
                <%= hidden_field_tag :product_id, p.id %> 
                
                <!-- Button: Add or Remove item from list -->
                <%= button_tag(@wishlist.has_product?(p)? "Remove from wishlist" : "Add to wishlist")%>
            <% end %>
        <% end %>
        
        <h4><%= link_to("#{p.name}", product_path(p)) %></h4>
        <span><%=p.category.name.upcase%></span>

        <p><%= "#{number_to_currency(p.price)}" %></p>
        <img class="product-image" src="<%=p.image_link%>"><br>
    </div>
<% end %>

