<h1><%= @product.name%></h1>

<p>Category: <%= @product.category.name%></p>
<p>Price: <%= @product.price%></p>
<img src="<%=@product.image_link%>"><br>


<%= link_to("Edit product", edit_product_path(@product)) %><br><br>

<%= link_to "delete", @product, method: :delete,
                                  data: { confirm: "Are you sure?" } %>