<!DOCTYPE html>
<html>
<head>
  <title>Rails Rifle Paper Wishlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--  navbar -->
  <div>
      <a href="<%= root_url %>"/>Home</a>
      
      <% if current_user %>
        <%= link_to("Log Out", logout_path) %>
      <%else %>
        <%= link_to("Sign Up", signup_path) %>
        <%= link_to("Log In", login_path) %>
      <% end %>
  </div>

<%= yield %>

</body>
</html>
