<!DOCTYPE html>
<html>
<head>
  <title>Rails Rifle Paper Wishlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>

<style>
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
</style>

<body>

<!--  navbar -->
  <header>
    <a href="<%= root_url %>" class="button" />Home</a>
    
    <% if current_user %>
      <%= link_to("All products", products_path, :class => "button") %>
      <%= link_to("Product categories", categories_path, :class => "button") %>
      <%= link_to("My wishlists", user_wishlists_path(current_user), :class => "button") %>
      <%= link_to("My profile", user_path(current_user), :class => "button") %>
      <%= link_to("Log Out", logout_path, :class => "button") %>
    <%else %>
      <%= link_to("Sign Up", signup_path, :class => "button") %>
      <%= link_to("Log In", login_path, :class => "button") %>
    <% end %>
  </header>

<%# Flash messages %>
  <div>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  </div>

<%= yield %>

</body>
</html>
